In [140]:
import pandas as pd

In [141]:
df_accr_si_2017=pd.read_csv("static/csv/2017/accreditation.csv")

In [142]:
df_stand_accr_si_2017=pd.read_csv("static/csv/2017/standalone_institution_accreditation.csv")

In [143]:
df_stand_accr_accr_si_2017=pd.merge(df_accr_si_2017,df_stand_accr_si_2017,left_on='id',right_on='accreditation_id',how='inner').drop(['id'],axis=1)

In [144]:
df_stand_accr_accr_si_2017

,accreditation_body,score,max_score,has_score,standalone_institution_id,survey_year,accreditation_id
0,Indian Nursing Council,NaN,NaN,False,4480,2017,42583
1,INDIAN NURSING COUNCIL,NaN,NaN,False,15248,2017,50731
2,inc,NaN,NaN,False,13029,2017,49645
3,NCTE,NaN,NaN,False,7417,2017,46739
4,ICAR,NaN,NaN,False,12039,2017,51939
...,...,...,...,...,...,...,...
596,NBA,NaN,NaN,False,2037,2017,44966
597,INDIAN NURSING COUNCIL,NaN,NaN,False,5543,2017,54765
598,NCTE BHOPAL & GOV.OF MAHARASHTRA,NaN,NaN,False,9712,2017,51822
599,NAAC,3.32,4.0,True,419,2017,52600
600,GUJARAT NURSING COUNCIL,NaN,NaN,False,14744,2017,44757

In [145]:
df_stand_si_2017=pd.read_csv("static/csv/2017/standalone_institution.csv")

In [146]:
df_stand_accr_merge_si_2017=pd.merge(df_stand_accr_accr_si_2017,df_stand_si_2017,left_on='standalone_institution_id',right_on='id',how='inner').drop(['id'],axis=1)

In [147]:
df_stand_accr_merge_si_2017

,accreditation_body,score,max_score,has_score,standalone_institution_id,survey_year_x,accreditation_id,aishe_code,address_line1,address_line2,...,offers_scholarship,offers_loan,offers_distance_programme,pin_code,has_fellowships,fellowships_id,ministry_id,has_other_minority_data,block_city_town,has_foreign_teachers
0,Indian Nursing Council,NaN,NaN,False,4480,2017,42583,S-4480,School Of Nursing,Holy Ghost Mission Hospital,...,True,True,False,686613,False,NaN,NaN,False,NaN,NaN
1,INDIAN NURSING COUNCIL,NaN,NaN,False,15248,2017,50731,S-15248,"MADHUKAR NAGAR COLONY, RUPPANPUR","NATUI, SARNATH",...,False,False,False,221007,False,NaN,NaN,True,NaN,NaN
2,UTTATR PRADESH STATE MEDICAL FACULTY,NaN,NaN,False,15248,2017,50732,S-15248,"MADHUKAR NAGAR COLONY, RUPPANPUR","NATUI, SARNATH",...,False,False,False,221007,False,NaN,NaN,True,NaN,NaN
3,inc,NaN,NaN,False,13029,2017,49645,S-13029,C/o sri rama nilayam 4th lane nellore.,C/o sri rama nilayam 4th lane nellore,...,False,False,False,524003,False,NaN,NaN,False,NaN,NaN
4,NCTE,NaN,NaN,False,7417,2017,46739,S-7417,AT-NARASINGHPUR,PO-NARASINGHPUR,...,False,False,True,754032,False,NaN,NaN,False,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
596,NAAC,2.73,4.0,True,7517,2017,49362,S-7517,Jaipur Road,Idgah Mode,...,True,False,False,322201,False,NaN,NaN,False,NaN,NaN
597,NCTE,NaN,NaN,False,12145,2017,47601,S-12145,MM BAZAR POST,NaN,...,True,False,False,670306,False,NaN,NaN,True,NaN,NaN
598,NBA,NaN,NaN,False,2037,2017,44966,S-2037,"DR . D.Y. PATIL VIDYANGAR , DR. D.Y. PATIL POL...","SECTOR - 7 , PHASE - 1",...,True,False,False,400706,False,NaN,NaN,False,NaN,NaN
599,NCTE BHOPAL & GOV.OF MAHARASHTRA,NaN,NaN,False,9712,2017,51822,S-9712,"NAVAPUR ROAD, NEAR GOV.REST HOUSE",TAL.SAKRI DIS.DHULE,...,True,False,False,424306,False,NaN,NaN,False,NaN,NaN
600,GUJARAT NURSING COUNCIL,NaN,NaN,False,14744,2017,44757,S-14744,BH POPATPARA 2 RAILNAGAR SOCIETY RAJKOT,RAILNAGAR SOCIETY RAJKOT,...,True,False,False,360001,False,NaN,NaN,False,NaN,NaN

In [148]:
df_stand_accr_merge_si_2017=df_stand_accr_merge_si_2017.rename(columns={'survey_year_x':'survey_year'})

In [149]:
df_stand_accr_merge_si_2017['percentage']=(df_stand_accr_merge_si_2017['score'] / df_stand_accr_merge_si_2017['max_score'])*100

In [150]:
df_stand_accr_merge_si_2017

,accreditation_body,score,max_score,has_score,standalone_institution_id,survey_year,accreditation_id,aishe_code,address_line1,address_line2,...,offers_loan,offers_distance_programme,pin_code,has_fellowships,fellowships_id,ministry_id,has_other_minority_data,block_city_town,has_foreign_teachers,percentage
0,Indian Nursing Council,NaN,NaN,False,4480,2017,42583,S-4480,School Of Nursing,Holy Ghost Mission Hospital,...,True,False,686613,False,NaN,NaN,False,NaN,NaN,NaN
1,INDIAN NURSING COUNCIL,NaN,NaN,False,15248,2017,50731,S-15248,"MADHUKAR NAGAR COLONY, RUPPANPUR","NATUI, SARNATH",...,False,False,221007,False,NaN,NaN,True,NaN,NaN,NaN
2,UTTATR PRADESH STATE MEDICAL FACULTY,NaN,NaN,False,15248,2017,50732,S-15248,"MADHUKAR NAGAR COLONY, RUPPANPUR","NATUI, SARNATH",...,False,False,221007,False,NaN,NaN,True,NaN,NaN,NaN
3,inc,NaN,NaN,False,13029,2017,49645,S-13029,C/o sri rama nilayam 4th lane nellore.,C/o sri rama nilayam 4th lane nellore,...,False,False,524003,False,NaN,NaN,False,NaN,NaN,NaN
4,NCTE,NaN,NaN,False,7417,2017,46739,S-7417,AT-NARASINGHPUR,PO-NARASINGHPUR,...,False,True,754032,False,NaN,NaN,False,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
596,NAAC,2.73,4.0,True,7517,2017,49362,S-7517,Jaipur Road,Idgah Mode,...,False,False,322201,False,NaN,NaN,False,NaN,NaN,68.25
597,NCTE,NaN,NaN,False,12145,2017,47601,S-12145,MM BAZAR POST,NaN,...,False,False,670306,False,NaN,NaN,True,NaN,NaN,NaN
598,NBA,NaN,NaN,False,2037,2017,44966,S-2037,"DR . D.Y. PATIL VIDYANGAR , DR. D.Y. PATIL POL...","SECTOR - 7 , PHASE - 1",...,False,False,400706,False,NaN,NaN,False,NaN,NaN,NaN
599,NCTE BHOPAL & GOV.OF MAHARASHTRA,NaN,NaN,False,9712,2017,51822,S-9712,"NAVAPUR ROAD, NEAR GOV.REST HOUSE",TAL.SAKRI DIS.DHULE,...,False,False,424306,False,NaN,NaN,False,NaN,NaN,NaN
600,GUJARAT NURSING COUNCIL,NaN,NaN,False,14744,2017,44757,S-14744,BH POPATPARA 2 RAILNAGAR SOCIETY RAJKOT,RAILNAGAR SOCIETY RAJKOT,...,False,False,360001,False,NaN,NaN,False,NaN,NaN,NaN

In [151]:
df_stand_accr_merge_si_2017['score'].fillna(1,inplace= True)

In [152]:
df_stand_accr_merge_si_2017['max_score'].fillna(1,inplace= True)

In [153]:
df_stand_accr_merge_si_2017['percentage'].fillna(1,inplace= True)

In [154]:
df_stand_accr_2017_si_2017=df_stand_accr_merge_si_2017[['standalone_institution_id','name','aishe_code','accreditation_body','survey_year','has_score','score','max_score','percentage','infrastructure_id']]

In [155]:
df_stand_accr_2017_sort_si_2017=df_stand_accr_2017_si_2017.sort_values(by='percentage',ascending=False)

In [157]:
def Accreditation_2017():
    df_accreditation_si_2017=df_stand_accr_2017_sort_si_2017.rename(columns={'aishe_code':'AISHE Code', 'name':'Standalone Institution Name', 'accreditation_body':'Accreditation Body', 'score':'Score', 'max_score': 'Maximum Score', 'percentage':'Percentage'})
    return df_accreditation_si_2017[['AISHE Code','Standalone Institution Name','Accreditation Body','Score','Maximum Score','Percentage']].head(10)
Accreditation_2017().to_csv("standalone_accreditation_2017")

In [103]:
df_stand_accr_2017_sort_si_2017

,standalone_institution_id,name,aishe_code,accreditation_body,survey_year,has_score,score,max_score,percentage,infrastructure_id
313,3868,NANDA HOSPITAL UNA,S-3868,Himachal Pradesh Nursing Registration Council,2017,True,100.0,100.0,100.0,289695
209,16221,Westbank School of Nursing,S-16221,Indian Nursing Council,2017,True,100.0,100.0,100.0,272659
134,15457,"Govt. Nursing Training School, Civil Hospital ...",S-15457,Punjab Nurses Registration,2017,True,40.0,40.0,100.0,282742
517,4564,S U T SCHOOL OF NURSING THIRUVANANTHAPURAM,S-4564,NAAC,2017,True,4.0,4.0,100.0,311026
272,13934,"GINNI DEVI ACTION SCHOOL OF NURSING, PASCHIM V...",S-13934,DELHI NURSING COUNCIL,2017,True,100.0,100.0,100.0,281858
...,...,...,...,...,...,...,...,...,...,...
53,1856,"AGNIHOTRI INSTITUTE PHARMACY, WARDHA",S-1856,NAAC,2017,True,0.0,4.0,0.0,294322
157,5762,DISTRICT INSTITUTE OF EDUCATION & TRAINING GOA...,S-5762,NAAC,2017,True,0.0,4.0,0.0,332377
227,2759,C S I POLYTECHNIC COLLEGE SALEM,S-2759,NAAC,2017,True,0.0,4.0,0.0,297077
99,17557,SINGH LIFE CARE NURSING AND PARAMEDICAL SCHOOL,S-17557,indian nursing council,2017,True,0.0,4.0,0.0,332847
241,8187,R.V.S. TEACHER TRAINING INSTITUTE R.V.S NAGAR,S-8187,NAAC,2017,True,0.0,4.0,0.0,318625

In [104]:
df_infr_si_2017=pd.read_csv("static/csv/2017/infrastructure.csv")

In [105]:
df_infr_si_2017

,id,playground,auditorium,theatre,library,laboratory,conference_hall,health_center,gymnasium_fitness_center,indoor_stadium,...,counselors_for_students,clinic_first_aid_room,separate_toilet_for_girls,skill_development_centre,self_defence_class_for_females,institution_disaster_management_facilities,capacity_building_and_training_aware_programme_conducted,vulnerability_assess_checks_made_during_year,any_mock_drill_rehearsal_programme_conducted,anti_ragging_cell
0,305296,True,True,True,True,False,False,False,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,307278,True,True,True,True,True,True,True,True,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,317383,True,True,False,True,True,True,True,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,277169,False,False,False,True,True,False,False,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,297372,True,True,True,True,True,True,True,True,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44386,320000,True,True,False,True,False,True,False,False,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44387,285396,True,True,True,True,True,True,True,True,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44388,329668,True,True,False,True,True,True,False,True,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44389,290047,True,True,False,True,True,True,True,True,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44390,288912,True,True,True,True,True,True,True,True,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [106]:
df_stand_accr_infr_si_2017=pd.merge(df_stand_accr_2017_sort_si_2017,df_infr_si_2017,left_on='infrastructure_id',right_on='id',how='inner').drop(['id'],axis=1)

In [107]:
df_stand_accr_infrastructure_si_2017=df_stand_accr_infr_si_2017[['standalone_institution_id','name','aishe_code','accreditation_body','survey_year','has_score',
                                             'score','max_score','percentage','infrastructure_id','playground','library','connectivity_nkn',
                                             'laboratory','indoor_stadium','cafeteria','computer_center','campus_friendly']]

In [109]:
df_stand_accr_infrastructure_si_2017.playground = df_stand_accr_infrastructure_si_2017.playground.replace({True:1,False:0})
df_stand_accr_infrastructure_si_2017.library = df_stand_accr_infrastructure_si_2017.playground.replace({True:1,False:0})
df_stand_accr_infrastructure_si_2017.connectivity_nkn = df_stand_accr_infrastructure_si_2017.connectivity_nkn.replace({True:1,False:0})
df_stand_accr_infrastructure_si_2017.laboratory = df_stand_accr_infrastructure_si_2017.laboratory.replace({True:1,False:0})
df_stand_accr_infrastructure_si_2017.indoor_stadium = df_stand_accr_infrastructure_si_2017.indoor_stadium.replace({True:1,False:0})
df_stand_accr_infrastructure_si_2017.cafeteria = df_stand_accr_infrastructure_si_2017.cafeteria.replace({True:1,False:0})
df_stand_accr_infrastructure_si_2017.computer_center = df_stand_accr_infrastructure_si_2017.computer_center.replace({True:1,False:0})
df_stand_accr_infrastructure_si_2017.campus_friendly = df_stand_accr_infrastructure_si_2017.campus_friendly.replace({True:1,False:0})

In [110]:
df_stand_accr_infrastructure_si_2017

,standalone_institution_id,name,aishe_code,accreditation_body,survey_year,has_score,score,max_score,percentage,infrastructure_id,playground,library,connectivity_nkn,laboratory,indoor_stadium,cafeteria,computer_center,campus_friendly
0,3868,NANDA HOSPITAL UNA,S-3868,Himachal Pradesh Nursing Registration Council,2017,True,100.0,100.0,100.0,289695,1,1,1,1,0,1,1,0
1,3868,NANDA HOSPITAL UNA,S-3868,Indian Nursing Council,2017,True,100.0,100.0,100.0,289695,1,1,1,1,0,1,1,0
2,16221,Westbank School of Nursing,S-16221,Indian Nursing Council,2017,True,100.0,100.0,100.0,272659,1,1,0,1,0,1,1,0
3,15457,"Govt. Nursing Training School, Civil Hospital ...",S-15457,Punjab Nurses Registration,2017,True,40.0,40.0,100.0,282742,1,1,1,1,0,0,1,1
4,15457,"Govt. Nursing Training School, Civil Hospital ...",S-15457,"Indian Nursing Council, Delhi",2017,True,40.0,40.0,100.0,282742,1,1,1,1,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
596,14744,"SHREE SODHA SCHOOL OF NURSING, RAJKOT",S-14744,GUJARAT NURSING COUNCIL,2017,False,1.0,1.0,1.0,287181,1,1,0,1,0,1,1,0
597,1856,"AGNIHOTRI INSTITUTE PHARMACY, WARDHA",S-1856,NAAC,2017,True,0.0,4.0,0.0,294322,1,1,0,1,1,1,1,1
598,5762,DISTRICT INSTITUTE OF EDUCATION & TRAINING GOA...,S-5762,NAAC,2017,True,0.0,4.0,0.0,332377,1,1,1,1,0,1,1,1
599,17557,SINGH LIFE CARE NURSING AND PARAMEDICAL SCHOOL,S-17557,indian nursing council,2017,True,0.0,4.0,0.0,332847,1,1,0,1,0,1,1,0
600,8187,R.V.S. TEACHER TRAINING INSTITUTE R.V.S NAGAR,S-8187,NAAC,2017,True,0.0,4.0,0.0,318625,1,1,1,1,1,1,1,1

In [111]:
df_filtered_infra_si_2017= df_stand_accr_infrastructure_si_2017[['standalone_institution_id','infrastructure_id','playground','library','connectivity_nkn',	'laboratory','indoor_stadium','cafeteria','computer_center',	'campus_friendly']]

In [112]:
df_filtered_infra_si_2017

,standalone_institution_id,infrastructure_id,playground,library,connectivity_nkn,laboratory,indoor_stadium,cafeteria,computer_center,campus_friendly
0,3868,289695,1,1,1,1,0,1,1,0
1,3868,289695,1,1,1,1,0,1,1,0
2,16221,272659,1,1,0,1,0,1,1,0
3,15457,282742,1,1,1,1,0,0,1,1
4,15457,282742,1,1,1,1,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...
596,14744,287181,1,1,0,1,0,1,1,0
597,1856,294322,1,1,0,1,1,1,1,1
598,5762,332377,1,1,1,1,0,1,1,1
599,17557,332847,1,1,0,1,0,1,1,0
600,8187,318625,1,1,1,1,1,1,1,1

In [113]:
df_filtered_infra_si_2017['infra_count']=df_filtered_infra_si_2017.playground + df_filtered_infra_si_2017.library + df_filtered_infra_si_2017.connectivity_nkn + df_filtered_infra_si_2017.indoor_stadium + df_filtered_infra_si_2017.laboratory + df_filtered_infra_si_2017.cafeteria + df_filtered_infra_si_2017.computer_center + df_filtered_infra_si_2017.campus_friendly

C:\Users\sanya\AppData\Local\Temp\ipykernel_3616\3012363321.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered_infra_si_2017['infra_count']=df_filtered_infra_si_2017.playground + df_filtered_infra_si_2017.library + df_filtered_infra_si_2017.connectivity_nkn + df_filtered_infra_si_2017.indoor_stadium + df_filtered_infra_si_2017.laboratory + df_filtered_infra_si_2017.cafeteria + df_filtered_infra_si_2017.computer_center + df_filtered_infra_si_2017.campus_friendly

In [114]:
df_filtered_infra_si_2017

,standalone_institution_id,infrastructure_id,playground,library,connectivity_nkn,laboratory,indoor_stadium,cafeteria,computer_center,campus_friendly,infra_count
0,3868,289695,1,1,1,1,0,1,1,0,6
1,3868,289695,1,1,1,1,0,1,1,0,6
2,16221,272659,1,1,0,1,0,1,1,0,5
3,15457,282742,1,1,1,1,0,0,1,1,6
4,15457,282742,1,1,1,1,0,0,1,1,6
...,...,...,...,...,...,...,...,...,...,...,...
596,14744,287181,1,1,0,1,0,1,1,0,5
597,1856,294322,1,1,0,1,1,1,1,1,7
598,5762,332377,1,1,1,1,0,1,1,1,7
599,17557,332847,1,1,0,1,0,1,1,0,5
600,8187,318625,1,1,1,1,1,1,1,1,8

In [115]:
find_infra_si_2017=['playground','library','laboratory','indoor_stadium','connectivity_nkn','cafeteria','computer_center','campus_friendly']

In [116]:
for i in range(len(find_infra_si_2017)):
    print(find_infra_si_2017[i])

playground
library
laboratory
indoor_stadium
connectivity_nkn
cafeteria
computer_center
campus_friendly

In [117]:
df_filtered_infra_si_2017[find_infra_si_2017]

,playground,library,laboratory,indoor_stadium,connectivity_nkn,cafeteria,computer_center,campus_friendly
0,1,1,1,0,1,1,1,0
1,1,1,1,0,1,1,1,0
2,1,1,1,0,0,1,1,0
3,1,1,1,0,1,0,1,1
4,1,1,1,0,1,0,1,1
...,...,...,...,...,...,...,...,...
596,1,1,1,0,0,1,1,0
597,1,1,1,1,0,1,1,1
598,1,1,1,0,1,1,1,1
599,1,1,1,0,0,1,1,0
600,1,1,1,1,1,1,1,1

In [118]:
df_filtered_infra_si_2017[find_infra_si_2017].sum(axis=1)

0      6
1      6
2      5
3      6
4      6
      ..
596    5
597    7
598    7
599    5
600    8
Length: 601, dtype: int64

In [119]:
def dynamic_infra_sum(df_filtered_infra_si_2017,find_infra_si_2017):
    return df_filtered_infra_si_2017[find_infra_si_2017].sum(axis=1)

In [120]:
df_stand_accr_infrastructure_si_2017['infra_count']=dynamic_infra_sum(df_stand_accr_infrastructure_si_2017,find_infra_si_2017)

C:\Users\sanya\AppData\Local\Temp\ipykernel_3616\608065484.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_stand_accr_infrastructure_si_2017['infra_count']=dynamic_infra_sum(df_stand_accr_infrastructure_si_2017,find_infra_si_2017)

In [121]:
df_stand_accr_infrastructure_si_2017

,standalone_institution_id,name,aishe_code,accreditation_body,survey_year,has_score,score,max_score,percentage,infrastructure_id,playground,library,connectivity_nkn,laboratory,indoor_stadium,cafeteria,computer_center,campus_friendly,infra_count
0,3868,NANDA HOSPITAL UNA,S-3868,Himachal Pradesh Nursing Registration Council,2017,True,100.0,100.0,100.0,289695,1,1,1,1,0,1,1,0,6
1,3868,NANDA HOSPITAL UNA,S-3868,Indian Nursing Council,2017,True,100.0,100.0,100.0,289695,1,1,1,1,0,1,1,0,6
2,16221,Westbank School of Nursing,S-16221,Indian Nursing Council,2017,True,100.0,100.0,100.0,272659,1,1,0,1,0,1,1,0,5
3,15457,"Govt. Nursing Training School, Civil Hospital ...",S-15457,Punjab Nurses Registration,2017,True,40.0,40.0,100.0,282742,1,1,1,1,0,0,1,1,6
4,15457,"Govt. Nursing Training School, Civil Hospital ...",S-15457,"Indian Nursing Council, Delhi",2017,True,40.0,40.0,100.0,282742,1,1,1,1,0,0,1,1,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
596,14744,"SHREE SODHA SCHOOL OF NURSING, RAJKOT",S-14744,GUJARAT NURSING COUNCIL,2017,False,1.0,1.0,1.0,287181,1,1,0,1,0,1,1,0,5
597,1856,"AGNIHOTRI INSTITUTE PHARMACY, WARDHA",S-1856,NAAC,2017,True,0.0,4.0,0.0,294322,1,1,0,1,1,1,1,1,7
598,5762,DISTRICT INSTITUTE OF EDUCATION & TRAINING GOA...,S-5762,NAAC,2017,True,0.0,4.0,0.0,332377,1,1,1,1,0,1,1,1,7
599,17557,SINGH LIFE CARE NURSING AND PARAMEDICAL SCHOOL,S-17557,indian nursing council,2017,True,0.0,4.0,0.0,332847,1,1,0,1,0,1,1,0,5
600,8187,R.V.S. TEACHER TRAINING INSTITUTE R.V.S NAGAR,S-8187,NAAC,2017,True,0.0,4.0,0.0,318625,1,1,1,1,1,1,1,1,8

In [122]:
df_stand_accr_infrastructure_sort_si_2017=df_stand_accr_infrastructure_si_2017.sort_values(['infra_count'],ascending=False)

In [123]:
df_stand_accr_infrastructure_sort_si_2017

,standalone_institution_id,name,aishe_code,accreditation_body,survey_year,has_score,score,max_score,percentage,infrastructure_id,playground,library,connectivity_nkn,laboratory,indoor_stadium,cafeteria,computer_center,campus_friendly,infra_count
600,8187,R.V.S. TEACHER TRAINING INSTITUTE R.V.S NAGAR,S-8187,NAAC,2017,True,0.0,4.0,0.000000,318625,1,1,1,1,1,1,1,1,8
370,12582,"SRI PADMARAJ D.P.ED COLLEGE, SINDAGI",S-12582,NCTE,2017,False,1.0,1.0,1.000000,289125,1,1,1,1,1,1,1,1,8
410,4510,LOURDES HOSPITAL ERNAKULAM,S-4510,Kerala Nurses & Midwives Council,2017,False,1.0,1.0,1.000000,313527,1,1,1,1,1,1,1,1,8
515,394,INSITITUTE OF MANAGEMENT TECHNOLOGY GHAZIABAD,S-394,NBA,2017,False,1.0,1.0,1.000000,317752,1,1,1,1,1,1,1,1,8
193,5499,SUKHDEHI SMARAK INSTITUTE OF NURSING & PARAMED...,S-5499,up state medical faculty,2017,False,1.0,1.0,1.000000,310278,1,1,1,1,1,1,1,1,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,4664,HAMIDIA HOSPITAL BHOPAL,S-4664,Indian nursing council,2017,True,8.0,9.0,88.888889,324406,0,0,0,0,0,0,0,0,0
349,4376,T M A E S SCHOOL OF NURSING BELLARY,S-4376,INDIAN NURSING COUNCIL,2017,False,1.0,1.0,1.000000,322648,0,0,0,0,0,0,0,0,0
187,16954,Its Css and Ss,S-16954,Indian Nursing Council,2017,False,1.0,1.0,1.000000,328156,0,0,0,0,0,0,0,0,0
105,7009,GOVERNMENT TEACHER TRAINING INSTITUTE FOR MEN ...,S-7009,NAAC,2017,True,3.0,4.0,75.000000,330224,0,0,0,0,0,0,0,0,0
459,12205,"GOVERNMENT POLYTECHNIC, KANALICHHEENA PITHORAGARH",S-12205,ALL INDIA COUNCIL OF TECHNICAL EDUCATION,2017,False,1.0,1.0,1.000000,313807,0,0,0,0,0,0,0,0,0

In [124]:
def infrastructure_2017():
    df_infrastructure_si_2017=df_stand_accr_infrastructure_sort_si_2017.rename(columns={'aishe_code':'AISHE Code', 'name':'Standalone Institution Name', 'playground':'Playground', 'library':'Library', 'connectivity_nkn': 'Internet Connectivity', 'laboratory':'Laboratory', 'indoor_stadium':'Indoor Stadium', 'cafeteria':'Cafeteria', 'computer_center':'Computer Center', 'campus_friendly':'Campus Friendly','infra_count':'Total Infrastructure'})
    return df_infrastructure_si_2017[['AISHE Code','Standalone Institution Name','Playground','Library','Internet Connectivity','Laboratory','Indoor Stadium','Cafeteria','Computer Center','Campus Friendly','Total Infrastructure']].head(10)
infrastructure_2017().to_csv("standalone_infrastructure_2017")

In [125]:
df_stand_accr_infrastructure_si_2017[['standalone_institution_id','accreditation_body','percentage','infra_count']]

,standalone_institution_id,accreditation_body,percentage,infra_count
0,3868,Himachal Pradesh Nursing Registration Council,100.0,6
1,3868,Indian Nursing Council,100.0,6
2,16221,Indian Nursing Council,100.0,5
3,15457,Punjab Nurses Registration,100.0,6
4,15457,"Indian Nursing Council, Delhi",100.0,6
...,...,...,...,...
596,14744,GUJARAT NURSING COUNCIL,1.0,5
597,1856,NAAC,0.0,7
598,5762,NAAC,0.0,7
599,17557,indian nursing council,0.0,5
600,8187,NAAC,0.0,8

In [126]:
df_stand_accr_infrastructure_sort_si_2017=df_stand_accr_infrastructure_si_2017.sort_values(['percentage','infra_count'],ascending=False)

In [127]:
df_stand_accr_infrastructure_sort_si_2017

,standalone_institution_id,name,aishe_code,accreditation_body,survey_year,has_score,score,max_score,percentage,infrastructure_id,playground,library,connectivity_nkn,laboratory,indoor_stadium,cafeteria,computer_center,campus_friendly,infra_count
5,4564,S U T SCHOOL OF NURSING THIRUVANANTHAPURAM,S-4564,NAAC,2017,True,4.0,4.0,100.0,311026,1,1,1,1,1,1,1,1,8
8,4621,ST RITA'S SCHOOL OF NURSING KOTTAYAM,S-4621,INDIAN NURSING COUNCIL,2017,True,95.0,95.0,100.0,324548,1,1,1,1,1,1,1,1,8
14,15411,Vaishnav Mata Mahavidyalay Nursing Panna (M.P.),S-15411,ICAR,2017,True,40.0,40.0,100.0,333147,1,1,1,1,1,1,1,1,8
16,2835,K S RENGASAMY INSTITUTE OF TECHNOLOGY THOKKAVADI,S-2835,NAAC,2017,True,4.0,4.0,100.0,274609,1,1,1,1,1,1,1,1,8
22,15108,GOUTHAM COLLEGE OF PARAMEDICAL SCIENCES,S-15108,"Government of Karnataka, Paramedical",2017,True,1.0,1.0,100.0,300141,1,1,1,1,1,1,1,1,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
600,8187,R.V.S. TEACHER TRAINING INSTITUTE R.V.S NAGAR,S-8187,NAAC,2017,True,0.0,4.0,0.0,318625,1,1,1,1,1,1,1,1,8
591,2759,C S I POLYTECHNIC COLLEGE SALEM,S-2759,NAAC,2017,True,0.0,4.0,0.0,297077,1,1,0,1,1,1,1,1,7
597,1856,"AGNIHOTRI INSTITUTE PHARMACY, WARDHA",S-1856,NAAC,2017,True,0.0,4.0,0.0,294322,1,1,0,1,1,1,1,1,7
598,5762,DISTRICT INSTITUTE OF EDUCATION & TRAINING GOA...,S-5762,NAAC,2017,True,0.0,4.0,0.0,332377,1,1,1,1,0,1,1,1,7
599,17557,SINGH LIFE CARE NURSING AND PARAMEDICAL SCHOOL,S-17557,indian nursing council,2017,True,0.0,4.0,0.0,332847,1,1,0,1,0,1,1,0,5

In [128]:
df_examination_result_si_2017 = pd.read_csv("static/csv/2017/examination_result.csv")

In [129]:
df_edu_inst_si_2017=pd.read_csv("static/csv/2017/educational_institution_course.csv")

In [130]:
df_examination_result_merge_si_2017 =pd.merge(df_edu_inst_si_2017,df_examination_result_si_2017,left_on='course_id',right_on='course_id',how='inner',)

In [131]:
df_examination_result_merge_filt_si_2017=df_examination_result_merge_si_2017.drop(['id','appeared_female','passed_female','first_class_passed_total','first_class_passed_female','broad_discipline_group_id'],axis= 1)
df_examination_result_merge_filt_si_2017

,institution_category,institution_id,state_code,faculty_id,department_id,course_id,survey_year,course_mode_id,course_level_id,programme_id,discipline,appeared_total,passed_total,examination_result_id
0,University,298,27,59860.0,NaN,1702401,2017,1,1,157,EDUCATION,2.0,2,1550192
1,University,436,33,60301.0,NaN,1662098,2017,1,3,124,"Visual Media and Communication (ASAS, Kochi)",0.0,0,1512154
2,University,238,29,59947.0,1569933.0,1648530,2017,2,5,155,Environmental,132.0,29,1498722
3,University,116,7,62063.0,NaN,1722540,2017,1,3,110,Environmental Planning,14.0,14,1568531
4,University,476,33,58086.0,1478066.0,1551097,2017,1,4,12,BFSI,0.0,0,1402521
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
224414,Standalone Institution,4499,32,NaN,1555970.0,1632661,2017,1,6,184,Nursing Diploma,31.0,29,1483088
224415,Standalone Institution,16202,10,NaN,1638466.0,1727422,2017,1,6,82,MECHANICAL ENGINEERING,6.0,0,1572726
224416,Standalone Institution,14885,33,NaN,NaN,1572006,2017,1,6,82,ELECTRONICS,0.0,0,1423336
224417,Standalone Institution,560,28,NaN,1552557.0,1628562,2017,1,6,82,Diploma in Computer and Commercila Prctice,2.0,1,1478997
224418,Standalone Institution,1106,2,NaN,1481372.0,1554004,2017,1,6,82,Electrical Engineering,14.0,1,1405439

In [132]:
df_examination_result_merge_filt_si_2017['pass_percentage']=(df_examination_result_merge_filt_si_2017['passed_total'] / df_examination_result_merge_filt_si_2017['appeared_total'])*100
df_examination_result_merge_filt_si_2017

,institution_category,institution_id,state_code,faculty_id,department_id,course_id,survey_year,course_mode_id,course_level_id,programme_id,discipline,appeared_total,passed_total,examination_result_id,pass_percentage
0,University,298,27,59860.0,NaN,1702401,2017,1,1,157,EDUCATION,2.0,2,1550192,100.000000
1,University,436,33,60301.0,NaN,1662098,2017,1,3,124,"Visual Media and Communication (ASAS, Kochi)",0.0,0,1512154,NaN
2,University,238,29,59947.0,1569933.0,1648530,2017,2,5,155,Environmental,132.0,29,1498722,21.969697
3,University,116,7,62063.0,NaN,1722540,2017,1,3,110,Environmental Planning,14.0,14,1568531,100.000000
4,University,476,33,58086.0,1478066.0,1551097,2017,1,4,12,BFSI,0.0,0,1402521,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
224414,Standalone Institution,4499,32,NaN,1555970.0,1632661,2017,1,6,184,Nursing Diploma,31.0,29,1483088,93.548387
224415,Standalone Institution,16202,10,NaN,1638466.0,1727422,2017,1,6,82,MECHANICAL ENGINEERING,6.0,0,1572726,0.000000
224416,Standalone Institution,14885,33,NaN,NaN,1572006,2017,1,6,82,ELECTRONICS,0.0,0,1423336,NaN
224417,Standalone Institution,560,28,NaN,1552557.0,1628562,2017,1,6,82,Diploma in Computer and Commercila Prctice,2.0,1,1478997,50.000000
224418,Standalone Institution,1106,2,NaN,1481372.0,1554004,2017,1,6,82,Electrical Engineering,14.0,1,1405439,7.142857

In [133]:
df_stand_accr_infra_ex_si_2017=pd.merge(df_examination_result_merge_filt_si_2017,df_stand_accr_infrastructure_sort_si_2017,left_on='institution_id',right_on='standalone_institution_id').drop(['standalone_institution_id'],axis=1)

In [134]:
df_stand_accr_infra_exam_si_2017=df_stand_accr_infra_ex_si_2017.loc[df_stand_accr_infra_ex_si_2017['institution_category']=='Standalone Institution']
df_stand_accr_infra_exam_si_2017

,institution_category,institution_id,state_code,faculty_id,department_id,course_id,survey_year_x,course_mode_id,course_level_id,programme_id,...,infrastructure_id,playground,library,connectivity_nkn,laboratory,indoor_stadium,cafeteria,computer_center,campus_friendly,infra_count
152,Standalone Institution,164,32,NaN,1519490.0,1592508,2017,1,3,191,...,309303,1,1,1,1,1,1,1,1,8
468,Standalone Institution,78,7,NaN,1500864.0,1573140,2017,1,5,155,...,305903,0,0,0,1,1,1,1,1,5
469,Standalone Institution,78,7,NaN,1500866.0,1573142,2017,1,5,155,...,305903,0,0,0,1,1,1,1,1,5
470,Standalone Institution,78,7,NaN,1500865.0,1573141,2017,1,5,155,...,305903,0,0,0,1,1,1,1,1,5
471,Standalone Institution,78,7,NaN,NaN,1573143,2017,1,5,155,...,305903,0,0,0,1,1,1,1,1,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4896,Standalone Institution,13029,28,NaN,1496904.0,1569006,2017,1,6,82,...,305261,1,1,0,1,0,1,1,1,6
4897,Standalone Institution,5567,28,NaN,1327451.0,1413927,2017,1,6,182,...,276982,1,1,0,1,1,1,1,1,7
4898,Standalone Institution,7639,8,NaN,1523088.0,1596879,2017,1,6,182,...,310007,1,1,0,1,1,1,1,1,7
4899,Standalone Institution,7141,32,NaN,1623267.0,1708688,2017,1,6,182,...,329721,1,1,0,1,0,1,1,0,5
4900,Standalone Institution,4911,3,NaN,NaN,1667391,2017,1,6,184,...,322041,1,1,0,1,1,1,1,0,6

In [138]:
df_stand_accr_infra_exam_si_2017=df_stand_accr_infra_exam_si_2017.sort_values(['pass_percentage'],ascending=False)

In [158]:
def result_2017():
    df_exam_result_si_2017=df_stand_accr_infra_exam_si_2017.rename(columns={'aishe_code':'AISHE Code', 'name':'Standalone Institution Name','discipline':'Discipline', 'appeared_total':'Appeared Students', 'passed_total':'Passed Student', 'pass_percentage': 'Passing Percentage'})
    return df_exam_result_si_2017[['AISHE Code','Standalone Institution Name','Discipline','Appeared Students','Passed Student','Passing Percentage']].head(10)
result_2017().to_csv("standalone_result_2017")